* {
    box-sizing: border-box; /* Makes padding and border included in the element's total width/height */
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100%; 
    width: 250px; 
    position: fixed;
    top: 0; 
    right: 0; 
    background-color: #000000; 
    padding-top: 15px;
}

.sidebar ul {
    font-size: 18px;
    color: #c0ccc0;
    list-style-type: none; /* Remove bullet points */
}

.sidebar ul li{
    margin: 0; 
    padding: 0;
}

.sidebar li h1 {
    padding: 10px 20px;
    text-decoration: none; /* Remove underline from links */
    font-size: 18px;
    color: #c0ccc0;

    display: table-cell;
    white-space: nowrap;
}

.sidebar li a {
    padding: 10px 40px;
    text-decoration: none; /* Remove underline from links */
    font-size: 18px;
    color: #c0ccc0;
    display: block; /* Make the link fill the whole width of the list item */
}

.sidebar li a:hover {
    background-color: #31aa45; /* Darker color on hover */
}

/* GLOBAL RESETS */
body {
    font-family: sans-serif;
    margin: 0; /* Important: removes default margin */
}

/* HEADER STYLING */
header {
    background-color: #31aa45; /* Dark background */
    color: rgb(22, 22, 22); /* White text for contrast */
    padding: 15px 30px; /* Space inside the header */
    border-bottom: 5px solid #1d2530; /* Blue accent line */
    /* If you want the header to always be visible at the top: */
    /* position: sticky; 
    top: 0;
    width: 100%;
    z-index: 1000; */
}

header h1 {
    font-size: 24px;
    line-height: 2;
}

/* MAIN CONTENT STYLING */
main {
    /* Sets the width of the content area */
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 250px;
    line-height: 1.6;
}